.login {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
  
    .item {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
  
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
  
        input {
          padding: 20px;
          border: none;
          outline: none;
          background-color: rgba(17, 25, 40, 0.6);
          color: white;
          border-radius: 5px;
          transition: background-color 0.3s;
          font-size: 16px;
        }

        input::placeholder {
            font-size: 16px; 
          }
          
  
        label {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          text-decoration: underline;
  
          img {
            width: 50px;
            height: 50px;
            border-radius: 10px;
            object-fit: cover;
            opacity: 0.6;
          }
        }
  
        button {
          width: 100%;
          padding: 20px;
          border: none;
          background-color: #1f8ef1;
          color: white;
          border-radius: 5px;
          cursor: pointer;
          font-weight: 500;
  
          &:disabled {
            cursor: not-allowed;
            background-color: #1f8ff19c;
          }
        }
      }
    }
  
    .separator {
      height: 90%;
      width: 2px;
      background-color: #dddddd70;
    }
  }