* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body{
  background-image: url("/bgs.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.container {
  width: 93vw;
  height: 92vh;
  background-color: rgba(20, 30, 61, 0.75);
  backdrop-filter: blur(5px) saturate(130%); 
  border-radius: 12px;
  border: 1px solid rgba(83, 73, 26, 0.41);
  display: flex;
}

.loading{
  padding: 50px;
  font-size: 36px;
  border-radius: 10px;
  background-color: rgba(17, 25, 40, 0.9);
}